*{ -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;box-sizing:
  border-box;}

/*body rules here */
body{ 
  font-family:Verdana;
  font-size:16px;
}

/*header rules here */

header{
background-color: #ffa500:
padding:1rem; 2%;
}
 header h1 {
 }
 margin:0;

 header h2{
margin:0;  
 }

/*nav rules here */

nav{back-ground-color:#787878;}
nav ul{margin:0;padding:0;}
