body {
  background-color:#ffcc00;
	margin: 2%;
	font-family: 'Lora', serif

}
#message {
	text-align: center;
	padding: 1em;
	color: blue;
	font-weight: bolder;
}
main {
	margin-top: 2em;
	padding: 1em;



}

.all {
	text-align: center;
}

ul.navigation a
{

list-style: none;
text-align: left;
padding: 0;

margin-top:2.5em;
}

.navigation a:hover 
{
color: #a94e9e;

font-weight: 700;
}



/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
<ul class="navigation responsive">
*/
.responsive li 
{
display: block;
}

main .banner {

	max-width: 100%;

}

.navigation li:nth-child(7)  a {
	color: #e91752;
	font-weight: bolder;


}


.headinginfo
{
	text-align: center;
}

.Las Vegas img{
	max-width: 70%;
}



.services li{
	list-style-type: none;
	padding: 1em 1em 1em 0;
	text-align: left;

	}
.h2{
	
	border-bottom: 2px solid black;
	text-align: left;
	}
.services {
	margin: 0 auto;
	
	text-align: left;
