/* 35em is also 560px (if basefont is 16px) tablet view 32.5 rem i s 527.10px
@media only screen and (min-width:560px*/
@media only screen and (min-width: 32.5rem) {
    header img {
        width: 80px;
    }

    header {
        border-bottom: 1px solid#aab1b2;
    }

    .heading h1 {
        font-size: 2.0rem;
    }

    /*-- m*/
    .heading2 {
        font-size: 1.0rem;
    }

    /*-- navigation the whole section*/
    nav {
        border-bottom: 1px solid#aab1b2;
    }

    /*-- Display in a row using ul in this case I am using a class
     .navigation the whole section* using class*/
    .navigation {
        /*-- diplaying links elements in a row flex direction row*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 10%;
    }

    .navigation li a {
        text-align: center;
    }

    /* this is for home page and preston page main picture*/
    .herodiv {
        font-size: 100%;
    }

    .herodiv img {
        width: 100%;
        height: auto;
    }

    .homesummary {
        position: absolute;
        top: 7rem;
        left: 13rem;

    }

    .homesummary h2 {

        font-size: 30px;
    }

    #main {
        max-width: 760px;
    }

    /*---preston css------*/
    .forecastcontainer {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto;
        background: white;
        color: #7fb9c2;
        text-align: center;
        font-size: 1rem;
        max-width: 760px;
        padding: .75rem;
    }


   .days {
        background: #f2f2f2f2;
    }

   .forecastcontainer  {
        border-right: 1px solid #f2f2f2f2;
        border-left: 1px solid #f2f2f2f2;
    }

    .currentTemp{
        border-right: 1px solid #f2f2f2f2;
        border-bottom: 1px solid #f2f2f2f2;
        border-left: 1px solid #f2f2f2f2;
    }
    .weather_icon{
        border-right: 1px solid #f2f2f2f2;
        border-left: 1px solid #f2f2f2f2;

    }
    .forecastcontainer img {
        width: 100%;
    }

 

    .map {
        display: block;
        background: #f2f2f2;
    }

    .address {
        padding-left: 3rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    /*---gallery html------*/

    .gallerycontainer {
        grid-template-columns: 1fr 1fr;
        border-radius: 2px;
        place-items: center center;
    }

    .item {
        border-radius: 3px;
        border: 1px solid #dbe1e2;
        width: 100%;
        padding: 10px 10px 9px 10px;


    }


    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 700px;
    }

    .cards section {
        display: flex;
        flex-direction: row;

    }

    .towns h2 {
        padding: 15px 0 0 15px;
        margin: 0;
        text-align: left;
    }

    .towns h3 {
        margin: 0;
        padding: 0 32px 25px 15px;
        text-align: left;
    }

    .towns p {
        padding: 0 0 0 15px;
        margin: 0;
        text-align: left;
    }

    .townimage {
        width: 300px;
        height: auto;
        padding: 15px;
    }

    .towndata {
        width: 350px;
    }

}
